*~
*.kdev4
*.pyc
.cproject
.project
*.o
*.cmake
*/debug
*/release
*/build
build
.tup
btp/server/debug
btp/server/release
*.kch
autom4te.cache
*.deps
CMakeFiles
CMakeCache.txt
*.kate-swp
*build_info.h
config.h
Makefile